@font-face {
    font-family: 'Lato';
    src: url('../fonts/Lato/Lato-Regular.eot');
    src: url('../fonts/Lato/Lato-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/Lato/Lato-Regular.woff2') format('woff2'),
        url('../fonts/Lato/Lato-Regular.woff') format('woff'),
        url('../fonts/Lato/Lato-Regular.ttf') format('truetype'),
        url('../fonts/Lato/Lato-Regular.svg#Lato-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Yeseva One';
    src: url('../fonts/YesevaOne/YesevaOne-Regular.eot');
    src: url('../fonts/YesevaOne/YesevaOne-Regular.eot?#iefix') format('embedded-opentype'),
        url('../fonts/YesevaOne/YesevaOne-Regular.woff2') format('woff2'),
        url('../fonts/YesevaOne/YesevaOne-Regular.woff') format('woff'),
        url('../fonts/YesevaOne/YesevaOne-Regular.ttf') format('truetype'),
        url('../fonts/YesevaOne/YesevaOne-Regular.svg#YesevaOne-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}